@use 'left';
@use 'middle';
@use 'right';

$font-menu: rgba(44, 44, 44, 0.897);
$width-menu: 800px;
$heigth-menu: 645px;

body{
    margin: 0;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: flex-end;
    background-image: url(../images/background.jpg);
    background-size: cover;
}
.container{
    background-color: $font-menu;
    box-shadow: 0px 0px 20px #262a2a79;
    width: $width-menu;
    height: $heigth-menu;
    display: grid; 
    grid-template-columns: 50px 300px auto; 
    resize: horizontal;
    overflow: auto;
    min-width: 700px;
    padding: 0;
    backdrop-filter: blur(20px);
}


// p{
//     border: 1px solid black;
// }

